.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0.7rem;
}

.column-full,
.column-half {
  width: 100%;
}

h2 {
  margin: 0;
}

button {
  margin-left: 3px;
}

h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.ul-h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.anchor-entry {
  margin-right: 10px;
  padding: 5px 7px;
}

.input-field {
  width: 100%;
  padding: 5px;
}

.submit-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 13px;
  padding: 0.5rem;
  justify-content: space-between;
}

.notes {
  padding-left: 15px;
}

.p-text {
  margin-bottom: 20px;
  word-wrap: break-word;
}

.no-entries-li {
  display: flex;
  justify-content: center;
}

.section-off {
  display: none;
}

.section-on {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hide-delete {
  display: none;
}

.pop-up {
  display: block;
  justify-content: center;
}

.pop-up-text {
  display: flex;
  justify-content: space-between;
}

#submit-button {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

#header-h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 20px;
}

ul {
  padding: 0;
  line-height: 1.5rem;
}

.li-text-container {
  padding-top: 10px;
}

div.header-img {
  max-width: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
    flex-basis: calc(100%/2);
  }

  .column-half {
    width: 50%;
  }
}
